USE [master]
GO
/****** Object:  Database [GESTOR]    Script Date: 24/05/2023 11:14:47 ******/
CREATE DATABASE [GESTOR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GESTOR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GESTOR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GESTOR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GESTOR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GESTOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GESTOR]
GO
/****** Object:  Table [dbo].[AUTOR]    Script Date: 24/05/2023 11:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_AUTOR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIO]    Script Date: 24/05/2023 11:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Corte] [varchar](50) NULL,
 CONSTRAINT [PK_SERVICIO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNOS]    Script Date: 24/05/2023 11:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Cliente] [varchar](50) NULL,
	[IdServicio] [int] NULL,
	[IdAutor] [int] NULL,
	[Importe] [money] NULL,
 CONSTRAINT [PK_TURNOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AUTOR] ON 

INSERT [dbo].[AUTOR] ([Id], [Nombre]) VALUES (1, N'Nombre1')
INSERT [dbo].[AUTOR] ([Id], [Nombre]) VALUES (2, N'Nombre2')
INSERT [dbo].[AUTOR] ([Id], [Nombre]) VALUES (3, N'Nombre3')
SET IDENTITY_INSERT [dbo].[AUTOR] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICIO] ON 

INSERT [dbo].[SERVICIO] ([Id], [Corte]) VALUES (1, N'Corte1')
INSERT [dbo].[SERVICIO] ([Id], [Corte]) VALUES (2, N'Corte2')
INSERT [dbo].[SERVICIO] ([Id], [Corte]) VALUES (3, N'Corte3')
SET IDENTITY_INSERT [dbo].[SERVICIO] OFF
GO
SET IDENTITY_INSERT [dbo].[TURNOS] ON 

INSERT [dbo].[TURNOS] ([Id], [Fecha], [Cliente], [IdServicio], [IdAutor], [Importe]) VALUES (1, CAST(N'2023-04-12T12:00:21.000' AS DateTime), N'Cliente1', 1, 1, 1000.0000)
INSERT [dbo].[TURNOS] ([Id], [Fecha], [Cliente], [IdServicio], [IdAutor], [Importe]) VALUES (3, CAST(N'2023-04-12T16:00:30.000' AS DateTime), N'Cliente2', 2, 2, 2000.0000)
INSERT [dbo].[TURNOS] ([Id], [Fecha], [Cliente], [IdServicio], [IdAutor], [Importe]) VALUES (4, CAST(N'2023-04-14T16:00:58.000' AS DateTime), N'Cliente3', 3, 3, 3000.0000)
SET IDENTITY_INSERT [dbo].[TURNOS] OFF
GO
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_AUTOR] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[AUTOR] ([Id])
GO
ALTER TABLE [dbo].[TURNOS] CHECK CONSTRAINT [FK_TURNOS_AUTOR]
GO
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_SERVICIO] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[SERVICIO] ([Id])
GO
ALTER TABLE [dbo].[TURNOS] CHECK CONSTRAINT [FK_TURNOS_SERVICIO]
GO
USE [master]
GO
